/* styles.css */  
  
    h2 {
      color: black;
      font-family:Arial;
      font-size: 24pt;
      text-align: center;
    }
  
    h3 {
      color: black;
      font-family: Arial;
      font-size: 20pt;
    }
    
    p {
      color: black;
      font-family: Arial;
      font-size: 14pt;
      line-height: 1.6;
    }
    
    ul {
      color: black;
      font-family: Arial;
      font-size: 14pt;
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
